/* CSS declarations go here */

/*@import url(https://fonts.google.com/specimen/Great+Vibes?selection.family=Great+Vibes|Open+Sans);*/


$font-stack: 'Lalezar', cursive;
$primary:red;


html{

	background: url(/img/leaves_bg.jpg) no-repeat center center fixed;
	background-size: cover;
	/*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
}


.maintitle{
	.titletext{
		//font-family: $font-stack;
		font-family: 'Open Sans', sans-serif;
		text-align: center;
		color: #9B2F16;
	}
}



.content{
	/*width: 500px;
	height: 500px;
	background: $primary;*/

	text-align: center;

	.paragraph{
		font-family: 'Baloo Bhai', cursive;
		//font-family: 'Roboto', sans-serif;
		font-size: 20px;

	}

	.btn{
		width: 100px;
		height: 42px; 

		background: black; 

		color:#33cc33;
		font-size: 30px;


		padding: 6px;
		border: none;
		&:hover{border:2px solid red;}
	}
	/*img{width:100%;}*/
}

.footer{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #efefef;
	text-align: center;
}
